@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --aceternity-pink: rgba(218, 0, 171);
  --aceternity-red: rgb(230, 64, 92);
  --aceternity-orange: rgb(232, 98, 63);

  /** colors
text-[#e8613f]
text-[#e6405c]
text-[#2a89d2]
*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-aceternity-pink: var(--aceternity-pink);
  --color-aceternity-red: var(--aceternity-red);
  --color-aceternity-orange: var(--aceternity-orange);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #09090b; */
    /* --background: #020618; */
    /* --background: radial-gradient(ellipse at bottom, #040b25 0%, #020617 100%); */
    /* --background: radial-gradient(ellipse at bottom, #101c2a 0%, #020617 100%); */
    --foreground: #ededed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html {
  height: 100%;
} */

body {
  /* background: #020618; */
  /* background: #0c0c18;  nice one!!!! */
  /* background: #101020; nice one */
  /* background: #0c0c18; nice one */
  /* background: #0c0f1d; - current; */
  /* background: #0d0e10; */
  /* background: #111315; */
  background: #0b0c0f;

  color: #ededed;
  /* height: 100%; */
  margin: 0;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.row {
  display: flex;
}

.row--justify-between {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

/**** Navbar styles ****/
.header {
  /* w-[30em] */
  /* @apply w-[30em]; */
  width: 35%;
}

.nav__item {
  @apply text-[1.1em];
}

/****  Home styles ****/

.home {
  /* height: 100%; */
  /* @apply mt-[5em]; */
  /* @apply scroll-mt-[100rem] flex flex-col justify-center; */
  @apply flex flex-col justify-center items-center;
  @apply scroll-mt-[100rem];
  @apply mt-[5em] mb-[15em];
}

/**** Main styles ****/
.main {
  /* @apply flex flex-col justify-center items-center; */
  @apply flex flex-col items-center;
}

/**** Hero styles ****/
.hero {
  /* @apply flex gap-x-5; */
  @apply flex;
}

/**** Card styles ****/
.card {
  /* Making the card flexible */
  @apply w-[40%] md:w-[45%];
  /* @apply border-2 border-red-400; */

  /* Making the card a flexbox for easier positioning */
  @apply md:flex md:items-center;
}

.card__content {
  @apply flex-col items-center relative bg-zinc-700/10 py-3 px-2.25 md:py-4 md:px-3 rounded-lg;
  /* @apply flex-col items-center relative bg-zinc-400 py-0.25 px-0.25 rounded-lg; */
}

.card__background {
  @apply bg-zinc-700/10 py-3 px-2.25 md:py-4 md:px-3 rounded-lg;
}

.card__image {
  @apply rounded-lg border-[0.05rem] md:w-[100%] border-black/90 shadow-xl;
}

.background-card {
  /* Styles for the horizontal card beneath the main card */
  @apply bg-zinc-700/10 py-4 px-3 rounded-lg absolute -z-[1] h-full w-full rotate-10 -translate-y-5;
  /* Nice slightly transparent color for the main card */
  @apply bg-gray-900/90;
}

/**** Intro styles ****/

.intro {
  /* Padding, centering the text, and 
  applying a flexible width */
  /* @apply px-3 gap-5 text-center w-[80%]; */
  @apply text-center w-[80%];

  /* Make the intro a flex-container 
  with the direction of items being a column */
  @apply flex flex-col;

  /* Apply flex-item properties, if any */
}

.intro__name {
  /* Text-resizing */
  /* leaving the line-heading the same - this is why the
  text is slightly lower than the starting line height of its flex neighbors */
  font-size: calc(0.75vw + 2.7em);
  /* Apply gradient */
  @apply bg-linear-45 from-blue-300 via-blue-400 to-blue-500 text-transparent bg-clip-text;
  @apply mb-1;
  @apply text-center;
}

.contact__header {
  /* @apply bg-linear-45 from-green-300 via-green-400 to-green-500 text-transparent bg-clip-text; */
  /* @apply bg-linear-45 from-purple-300 via-pink-400 to-red-400 text-transparent bg-clip-text; */
  /* @apply bg-linear-45 from-emerald-400 via-teal-500 to-cyan-500 text-transparent bg-clip-text; */
  font-size: calc(0.75vw + 2.7em);
  @apply sm:text-[3em];
  @apply bg-linear-45 from-teal-400 via-cyan-500 to-sky-500 text-transparent bg-clip-text;
}

.contact__subheader {
  font-size: calc(0.75vw + 0.95em);
  @apply sm:text-[1.25em];
}

.form__label {
  /* small screen size media query */
  font-size: calc(0.75vw + 0.7em);
  /* medium screen size media query */
  @apply sm:text-[1em];
  /* large screen size media query */
  /* font-size: calc(0.1vw + 0.1em); */
}

.form__input {
  font-size: calc(0.75vw + 0.7em);
  @apply sm:text-[1em];
  @apply focus:outline-2 focus:outline-zinc-200;
}

.form__button {
  font-size: calc(1vw + 0.55em);
  @apply sm:text-[0.85em] outline-2 outline-zinc-200/20;
  @apply hover:scale-[1.05] focus:scale-[1.05] active:scale-[1.02] transition;
}

.intro__text {
  @apply text-center text-[1.25em] w-full max-w-222 text-slate-300 mt-[2em];
}

.intro__colorful-text {
  /* Text-resizing */
  /* @apply text-[7vmin]; */
  font-size: calc(1vw + 1.8em);
  @apply sm:text-[5.5vmin];
  /* Default color when first loading onto the screen */
  @apply text-slate-50;
  @apply mb-8;
}

/**** Button styles ****/

/* Button is still off center */
/* .contact-button__container {
  // @apply flex flex-col items-center;
  @apply inline-block;
  @apply mx-auto;
} */

.contact-button__link {
  /* apply flex item rule */
  @apply self-center;

  /* Apply font-styles */
  font-size: calc(1vw + 0.5em);
  @apply px-5 py-2 mt-6 bg-zinc-100 text-[0.85em] text-zinc-800/90;
  /* apply border styles */
  @apply outline-2 outline-zinc-200/20 border-zinc-200/20 rounded-full;

  /* apply interactive animations */
  @apply focus:outline-2 hover:scale-[1.10] focus:scale-[1.10] hover:outline-0 active:scale-[1.07] transition;

  /* @apply sm:text-[0.85em] outline-2 outline-zinc-200/20; */
}

/**** Side info styles ****/
/* .info-button {
} */

.paper-plane-icon {
  @apply group-hover:-translate-y-1 group-hover:translate-x-1 group-focus:-translate-y-1 group-focus:translate-x-1 transition;
}

.email-icon {
  @apply group-hover:-translate-y-1 group-focus:-translate-y-1 hover:outline-none transition;
}

.email,
.resume {
  font-size: calc(1vw + 0.75em);
  @apply w-full;
}
